/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* disable coloured hilighting */
::selection {
	color: none;
	background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
	color: none;
	background: none;
}

:root {
	color: rgb(236, 236, 236);
	/* box-sizing: border-box; */
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	/* width: 100%; */
	height: 100%;
	/* overflow: hidden; */
	/* touch-action: none; */
}

.bg {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #8cc9ff;
	z-index: 0;
	/* overflow: scroll; */
	background-image: url(assets/WEB_COMPLETE.svg), none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.items{
	display: grid;
	/* width: 90vw; */
	width:100%;
	box-sizing: content-box;
	/* grid-template-columns: 25% 25% 25% 25%; */
	grid-template-columns: repeat(5, 20%);
	/* grid-template-columns: repeat(4, 25%); */
	/* column-gap: 10px; */
	/* row-gap: 10px; */
	/* justify-items: stretch; */
}



.item{
	box-sizing: content-box;
	/* z-index: 2; */
	border-radius: 5px;
	padding: 7px;
	margin: 5px;
	padding: 7px;
	height: 15vw;
	width: 15vw;
	/* background-color:rgb(64, 224, 91); */
	text-decoration: none;
	background-size: cover; 
	font-weight: normal;
	font-size: 2rem;
	/* font: inherit; */
	font-family: "chinchilla",sans-serif; 
	word-wrap: break-word;
	text-shadow: 2px 2px #00000055;
	transition-duration: 0.2s;
}

.item:hover{
	position: absolute;
	/* height: 17vw; */
	/* width: 17vw; */
	transform: rotate(10deg);
	transition-duration: 0.2s;
}

@media(max-width: 900px){
	.items{
		grid-template-columns: repeat(4, 25%);
	}
	.item{
		margin: 10px;
		padding: 7px;
		height: 20vw;
		width: 20vw;
		font-size: 1.5rem;
	}
}

@media(max-width: 600px){
	.items{
		grid-template-columns: repeat(2, 50%);
	}
	.item{
		margin: 10px;
		padding: 7px;
		height: 40vw;
		width: 40vw;
		font-size: 2rem;
	}
}


a{
	color: seashell;
	text-decoration: none;
}
p {
	/* margin: 0; */
}
